}
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffff;
  min-width: 4px;
  box-shadow: 0px 20px 16px 0px rgba(0,0,0,0.2);
  padding: 30px 60px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.column {
  float: left;
  width: 20%;
  padding: 10px;
  height: 70px;
}
.formulario{
  position: relative;
  left:  260px;
  bottom: 60px;
  
}
.formulario2{
  position: relative;
  left:  300px;
  bottom: 60px; 
  }
.formulario3{
  position: relative;
  left:  300px;
  bottom: 60px; 
}
.form{
  position: relative;
  left: 100px;
  bottom: 2px;
 

}
.titulo{
  font-size: 35px;
  position: relative;
  left: 10px;
  bottom: -5px;
  
}
.tabla{
  font-size: 18px;
  position: relative;
  bottom: 70px;
}
.input{
  position: relative;
  bottom: 15px;
  right: 50px;
}
.pns{
  position: relative;
  right: 100px;
  bottom: 50px;
}
